
  body{
    background: black;
  }
  .hi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #00d5e4;
    padding: 100px 5px 200px 5px;
  }
 .bio{
   font-family: cursive;
   font-size: 20px;
   padding-left: 3px;
   padding-left: 3px;
   text-align: center;
 }
 .Iam{
   color: white;
 }
 .design{
   color: rgb(3, 245, 56);
 }
 .develop{
   color:rgb(3, 245, 56);
 }
 img{
   max-block-size: 40px;
 }
 a{
   padding: 5px;
   text-decoration: none;
 }
 .copyrights{
   font-size: 10px;
   text-align: center;
   padding-bottom: 10px;
   color: white;
   font-family: sans-serif;
 }


 
.snow {
        z-index: -1;
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
  left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}
