
  body{
    background: black;
  }
  .hi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #00d5e4;
    padding: 100px 250px 200px 250px;
  }
 .bio{
   font-family: cursive;
   font-size: 20px;
   padding-left: 10px;
   padding-left: 10px;
   text-align: center;
 }
 .Iam{
   color: white;
 }
 .design{
   color: rgb(3, 245, 56);
 }
 .develop{
   color:rgb(3, 245, 56);
 }
 .icons{
   font-size: 15px;
 }
 img{
   max-block-size: 40px;
 }
 a{
   padding: 5px;
   text-decoration: none;
 }
 .copyrights{
   font-size: 10px;
   text-align: center;
   padding-bottom: 5px;
   color: white;
   font-family: sans-serif;
 }