
  body{
    background: black;
   
  }
  .hi{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #00d5e4;
    padding: 50px 5px 200px 5px;
  }

 .bio{
   font-family: "Lobster Two", cursive;
   font-size: 24px;
   padding-left: 3px;
   padding-left: 3px;
   text-align: center;
 }
 .Iam{
   color: white;
   font-size: 40px;
 }
 .vyshnav{
   font-size: 50px;
 }
 .design{
   color: rgb(3, 245, 56);
 }
 .develop{
   color:rgb(3, 245, 56);
 }

.connect_with{
  text-align: center;
  font-family: 'Lobster two', 'cursive';
  font-size: 18px;
  color: white;
}
 img{
   max-block-size: 40px;
 }
 a{
   padding: 5px;
   text-decoration: none;
 }
 .copyrights{
   font-size: 10px;
   text-align: center;
   padding-bottom: 10px;
   color: white;
   font-family: sans-serif;
 }

.snow {
        z-index: -1;
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
  top: 0;
  left: 0;
}


.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/* Dropdown Button */
/*
.dropbtn {
  background-color: rgb(211, 208, 208) ;
  color: rgb(5, 5, 5);
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #00d5e4;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #00d5e4;}

/* dropdown icon */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: rgb(219, 215, 215);
  margin: 6px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.flip-card {
  position: relative;
  padding: 0px 0px 80px 20px;
  background-color: transparent;
  width: 100%;
  height: 230px;
  /*border: 1px solid #f1f1f1;*/
  /*perspective: 1000px;*/ /* Remove this if you don't want the 3D effect */
}

@media only screen and (max-width: 768px) {
  .flip-card {
    padding-right: 5px;
    padding-bottom: 30px;
    width :100%;
    text-align: center;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.abt{
  font-size: 50px;
  font-family: 'Chau Philomene One', sans-serif;
}
.me{
  color: white;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  padding-right: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:transparent;
  color: #00d5e4;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: #00d5e4;
  transform: rotateY(180deg);
}

.myself{
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
  color: aliceblue;
}
.cusat,.cnct{
  color: #00d5e4;
}

